<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>添加书目</h1>
<form action="/add" method="get">
    书名：<input type="text" name="name"><br>
    作者：<input type="text" name="author"><br>
    价格：<input type="text" name="price"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>